/* Rafael Henrique Braga de Morais */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: greenyellow;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: none;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

#wordCount {
    font-weight: bold;
}
