/* Rafael Henrique Braga de Morais */
.carousel {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .slides {
    display: flex;
  }
  
  .slides img {
    width: 100%;
    display: none;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  